<h1>Details</h1>

<hr>
<div *ngIf="leaderrating">
  <div>
    <label for="">LeaderId:</label>
    <span>{{leaderrating.LeaderId}}</span>
  </div>
  <div>
    <label for="">LeaderRatingId:</label>
    <span>{{leaderrating.LeaderRatingId}}</span>
  </div>
  <div>
    <label for="">SpeakingAbilityRating:</label>
    <span>{{leaderrating.SpeakingAbilityRating}}</span>
  </div>
  <div>
    <label for="">EngagingRating:</label>
    <span>{{leaderrating.EngagingRating}}</span>
  </div>
  <div>
    <label for="">AuthenticRating:</label>
    <span>{{leaderrating.AuthenticRating}}</span>
  </div>
  <div>
    <label for="">RapportRating:</label>
    <span>{{leaderrating.RapportRating}}</span>
  </div>

</div>

<button mat-button color="primary" routerLink="/leaderrating">Back to List</button>