<mat-toolbar>
    <img src="../../../assets/44f8bcaa-a673-4549-b3a8-dc53b83293f3_200x200.png">
    <span class="example-fill-remaining-space"></span>
    <a routerLink="/register" 
            routerLinkActive="active"><button mat-raised-button class="nav-btn" color="primary" type="submit">Register</button></a>
            <a routerLink="/login" routerLinkActive="active"><button mat-raised-button class="nav-btn">Login</button></a>
   <a routerLink="/logout" routerLinkActive="active"> <button mat-raised-button class="nav-btn" >Logout</button></a>
</mat-toolbar>
