<mat-toolbar color="primary">

        
    
        
      
      
      
        
        <span class="example-fill-remaining-space"></span>
        <button *ngIf="!isUserLoggedin" mat-stroked-button class="nav-btn" routerLink="/register">Register</button>
        <button *ngIf="!isUserLoggedin" mat-stroked-button class="nav-btn" routerLink="/login">Login </button>
        <button mat-menu-item (click)="onLogOut()" routerLink="/login">
          <span>Logout</span>
        </button>
       
      
      </mat-toolbar>