body {
    background: "https://media.swncdn.com/cms/CCOM/46076-old-church.800w.tn.jpg";
    margin-left: 20px;
    height: 100%;
}

.landing {
    background-color: firebrick;
}

.bg {
    width: 100%;
    position: 0;
}
