<div class="welcomemsg">
    <h2>Welcome to <img src="../../../assets/44f8bcaa-a673-4549-b3a8-dc53b83293f3_200x200.png"></h2>
</div>
<div class="search">
    <form class="search-form">
        <mat-form-field class="full-width">
            <input matInput placeholder="Search for a church...">
        </mat-form-field>
    </form>
    <div class="buttons">
    <button mat-raised-button class="nav-btn">Search</button>   
    <a routerLink="/church/"><button mat-raised-button class="nav-btn">View All Churches</button></a>
    </div>
</div>