

.search-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }

  .welcomemsg {
      text-align: center;
      align-content: center;
  }

  .search {
      padding-left: 245px;
  }

  .nav-btn {
      margin-left: 10px;
  }

  .buttons {
      padding-left: 100px;
  }
