<h1>ChurchRating</h1>

<a mat-raised-button color="primary">Create New</a>
<hr>

<div>
  <mat-table #table [dataSource]="dataSource">
    <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>
  </mat-table>

  <ng-container matColumnDef="churchRatingID">
    <mat-header-cell *matHeaderCellDef> churchRatingID </mat-header-cell>
    <mat-cell *matCellDef="let churchRating">{{churchRating.churchRatingID}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="userID">
    <mat-header-cell *matHeaderCellDef> userID </mat-header-cell>
    <mat-cell *matCellDef="let churchRating">{{churchRating.userID}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="churchID">
    <mat-header-cell *matHeaderCellDef> churchID </mat-header-cell>
    <mat-cell *matCellDef="let churchRating">{{churchRating.churchID}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="CommunityInvolvementRating">
    <mat-header-cell *matHeaderCellDef> CommunityInvolvementRating </mat-header-cell>
    <mat-cell *matCellDef="let churchRating">{{churchRating.CommunityInvolvementRating}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="FriendlyRating">
    <mat-header-cell *matHeaderCellDef> FriendlyRating </mat-header-cell>
    <mat-cell *matCellDef="let churchRating">{{churchRating.FriendlyRating}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="FacilityRating">
    <mat-header-cell *matHeaderCellDef> FacilityRating </mat-header-cell>
    <mat-cell *matCellDef="let churchRating">{{churchRating.FacilityRating}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="MusicRating">
    <mat-header-cell *matHeaderCellDef> MusicRating </mat-header-cell>
    <mat-cell *matCellDef="let churchRating">{{churchRating.MusicRating}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="MessageRating">
    <mat-header-cell *matHeaderCellDef> MessageRating </mat-header-cell>
    <mat-cell *matCellDef="let churchRating">{{churchRating.MessageRating}}</mat-cell>
  </ng-container>

</div>
