<h1>Delete</h1>
<h4>Are you sure you want to remove this church?</h4>

<hr>
<div *ngIf="church">
  <div hidden>
    <label for="">ChurchID:</label>
    <span class="indent">{{church.ChurchID}}</span>
  </div>
  <div>
    <label for=""><b>Church Name:</b></label>
    <span class="indent">{{church.ChurchName}}</span>
  </div>
  <div>
    <label for=""><b>Church City:</b></label>
    <span class="indent">{{church.ChurchCity}}</span>
  </div>
  <div>
    <label for=""><b>Church State:</b></label>
    <span class="indent">{{church.ChurchState}}</span>
  </div>
</div>

<button mat-raised-button class="nav-btn" (click)="onDelete()">Delete</button>
<button mat-raised-button class="nav-btn" routerLink="/church">Back</button>